{% comment %}
  <header class="header">
  <div class="container navbar">
  <a class="logo" href="{{ shop.url }}"><div class="nav__logo">{{ shop.name}}</div></a>
  <nav class="nav__content">
  <ul class="nav__list">
  {% for link in linklists.main-menu.links -%}
  <li class="nav__item">{{ link.title | link_to: link.url }}</li>
  {%- endfor %}
  </ul>
  </nav>
  </div>
  </header>{% endcomment %}

<header>
  <h2>{{ shop.name }}
  </h2>
  <ul>
    {% for link in linklists.main-menu.links -%}
      <li class="nav__item">{{ link.title | link_to: link.url }}
      </li>
    {%- endfor %}
  </ul>

  {% if settings.show_search%}
    <form action="/search">
      <input type="search" name="q">
      <button type="submit">Search</button>
    </form>
  {% endif %}
</header>