<html>
<head>
    {{content_for_header}}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{'style.css' | asset_url | stylesheet_tag}}
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">
    {%- if settings.favicon != blank -%}
        <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {%- endif -%}
    {% if page_title == "Soapstand | Sustainable Soap Refillery Stations" %}
        <title>Soapstand - Homepage</title>
    {% else %}
        <title>Soapstand - {{ page_title }}</title>
    {% endif %}
</head>
<body>
    {% comment %} <div class="landing-page">
        {% render 'header' %}
        {{content_for_layout}}
    </div> {% endcomment %}
    {% comment %} {% section 'header' %} {% endcomment %}
    {% section 'header' %}
    {{content_for_layout}}
    {% section 'footer' %}
    {{ 'script.js' | asset_url | script_tag}}

</body>
</html>
