<section class="contact">
    <div class="container contact-page__row">
        <div class="title__primary contact-page__title"><span>let's connect</span></div>

        <div class="contact-page__primary">
            better together
            {{ 'contact-topRight.png' | asset_url | img_tag: 'contact page top right icon', 'contact-topRight' }}  
        </div>
        <div class="contact-page__secondary">
            {{ 'contact-topLeft.png' | asset_url | img_tag: 'contact page top left icon', 'contact-topLeft' }}  
            We can do so much together. Let's talk
        </div>

        <div class="contact-page__content">
            {% if section.settings.include_email %}
                <div class="if-statement">{{ section.settings.include_emailLeft }}<span class="if-answer">{{ section.settings.include_emailRight }}</span></div>
            {% endif %}
            {% if section.settings.include_phone %}
                <div class="if-statement">{{ section.settings.include_phoneLeft }} <span class="if-answer">{{ section.settings.include_phoneRight }}</span></div>            
            {% endif %}
            {% if section.settings.include_instagram %}
                <div class="if-statement">{{ section.settings.include_instagramLeft }}<span class="if-answer">{{ section.settings.include_instagramRight }}</span></div>
            {% endif %}
            {% if section.settings.include_address %}
                <div class="if-statement">{{ section.settings.include_addressLeft }}<span class="if-answer">{{ section.settings.include_addressRight }}</span></div>
            {% endif %}
        </div>

        {% form 'contact' %}
            {% if form.posted_successfully? %}
                <p class="form-success">
                    {{ 'contact-middleLeft.png' | asset_url | img_tag: 'contact page middle left icon', 'contact-middleLeft' }}  
                    Thank you! The Soapstand team will be in contact with you shortly!
                    {{ 'contact-bottomLeft.png' | asset_url | img_tag: 'contact page bottom left icon', 'contact-bottomLeft' }}  
                    {{ 'contact-bottomRight.png' | asset_url | img_tag: 'contact page bottom right icon', 'contact-bottomRight' }} 
                </p>
            {% else %}
                <div class="name">
                    <label for="name" class="name__label">name</label>
                    <input type="text" name="contact[name]" class="name__input" id="name" placeholder="name" required/>
                    {{ 'contact-middleRight.png' | asset_url | img_tag: 'contact page middle right icon', 'contact-middleRight' }}  
                </div>

                <div class="email">
                    <label for="email" class="email__label">email</label>
                    <input type="email" name="contact[email]" class="email__input" id="email" placeholder="email" required/>
                </div>

                <div class="message">
                    {{ 'contact-middleLeft.png' | asset_url | img_tag: 'contact page middle left icon', 'contact-middleLeft' }}  
                    <label for="message" class="message__label">message</label>
                    <textarea name="contact[body]" id="message" class="message__input" placeholder="message" required></textarea>
                    {{ 'contact-bottomLeft.png' | asset_url | img_tag: 'contact page bottom left icon', 'contact-bottomLeft' }}  
                    {{ 'contact-bottomRight.png' | asset_url | img_tag: 'contact page bottom right icon', 'contact-bottomRight' }}  
                </div>
                <div class="submit">
                    <input class="btn btn__secondary btn__contact" type="submit" value="submit" />            
                </div>
            {% endif %}
        {% endform %}
    </div>
</section> 

<style>
    @import url(//db.onlinewebfonts.com/c/6bfddeebdb6be7ad8b3cbf0523b89aca?family=Brevia);
    body{
        background: #014E59;
    }

    .contact{
        background: #014E59;
        min-height: 80vh;
        height: auto;
        padding: 0px 5em 3em 5em;
        text-align: center;
        position: relative;
    }

    .contact-page__title{
        font-size: 29px;
        margin-top:20px;
        margin-bottom: 40px;
    }

    .contact-page__primary{
        font-family: "Brevia", Montserrat, sans-serif;
        font-size: 4em;
        color: #94B7B8;
        margin-bottom: 30px;
        letter-spacing: 1px;
        position: relative;
    }

    .contact-topRight{
        position: absolute;
        height: 40px;
        top: -40px;
    }

    .contact-page__secondary{
        font-size: 2em;
        font-weight: 700;
        color: #fffdfa;
        letter-spacing: 1px;
        position: relative;
    }

    .contact-topLeft{
        position: absolute;
        height: 20px;
        top: -30px;
    }

    .contact-page__content{
        text-align: left;
        max-width: 500px;
        margin: 40px auto;
        color: #fffdfa;
    }

    .if-statement{
        margin: .25em;
        font-size: 1.1em;
    }

    .if-answer{
        font-weight: bold;
    }

    .name, .message{
        position: relative;
    }

    .contact-middleRight{
        position: absolute;
        height: 40px;
        right: -10px;
        top: -45px;
    }

    .contact-middleLeft{
        position: absolute;
        height: 25px;
        top: 15px;
        left: -35px;
    }

    .contact-bottomLeft{
        position: absolute;
        height: 20px;
        left: -5px;
        bottom: -30px;
    }

    .contact-bottomRight{
        position: absolute;
        height: 60px;
        right: -20px;
        bottom: -70px;
    }

    .name__input:not(:placeholder-shown):invalid, 
    .email__input:not(:placeholder-shown):invalid, 
    .message__input:not(:placeholder-shown):invalid{
        border: none;
        outline: 2px solid #C75052;
        border-radius: 5px;
    }

    .name__label, .email__label, .message__label{
        display: none;
    }

    .name__input, .email__input{
        width: 550px;
        height: 40px;
        background: linear-gradient(180.6deg, #004E59 -44.87%, #246770 -7.09%, #66949B 57.12%, #9CBABE 121.34%, #C7D8DA 181.78%, #E5EDEE 234.67%, #F8FAFA 280%, #fffdfa 310.22%);
        border: none;
        border-radius: 10px;
        opacity: 0.6;
        margin-bottom: 20px;
    }

    .name__input::placeholder, .email__input::placeholder, .message__input::placeholder{
        color: #fffdfa;
        font-size: 14px;
    }

    #name, #email, #message{
        color: #fffdfa;
        padding-left: 10px;
        font-family: Montserrat, sans-serif;
    }

    .message__input{
        resize: none;
        width: 550px;
        height: 150px;
        background: linear-gradient(180.6deg, #004E59 -44.87%, #246770 -7.09%, #66949B 57.12%, #9CBABE 121.34%, #C7D8DA 181.78%, #E5EDEE 234.67%, #F8FAFA 280%, #fffdfa 310.22%);
        opacity: 0.6;
        border: none;
        border-radius: 10px;
    }

    #message{
        padding-top: 10px;
    }

    .name__input:focus, .email__input:focus, .message__input:focus{
        border: none;
        outline: 2px solid #a9cdce;
        border-radius: 5px;
    }

    form{
        display: inline-block;
    }

    .submit{
        height: auto;
    }

    .btn__contact{
        margin-top: 50px;
        position: unset;
    }

    .form-success{
        padding: 4em;
        background: linear-gradient(180.6deg, #004E59 -44.87%, #246770 -7.09%, #66949B 57.12%, #9CBABE 121.34%, #C7D8DA 181.78%, #E5EDEE 234.67%, #F8FAFA 280%, #fffdfa 310.22%);
        border-radius: 25px;
        color: #fffdfa;
        opacity: .8;
        font-family: "Brevia";
        font-size: 20px;
        position: relative;
    }

    @media (max-width: 1000px) {
        .contact-page__primary{
            font-size: 3.2em
        }

        .contact-page__secondary{
            font-size: 1.5em;
        }

        .contact-page__content{
            max-width: 450px;
        }

        .if-statement{
            font-size: 1em;
        }
    }

    @media (max-width: 949px){
        .contact{
            padding: 20px 5em 3em 5em;
        }
    }

    @media (max-width: 800px) {
        .contact{
            padding: 20px 0 5vh 0;
        }

        .contact-page__title{
            font-size: 26px;
        }

        .contact-page__primary{
            font-size: 2.8em;
        }

        .contact-page__secondary{
            font-size: 1.4em;
        }

        .contact-page__content{
            max-width: 400px;
        }

        .if-statement{
            font-size: .9em;
        }

        .contact-middleLeft{
        }

        .contact-middleRight{
        }

        form{
            display: unset;
        }

        .name, .email, .message{
            width: 80%;
            margin: 0 auto;
        }

        .name__input, .email__input, .message__input{
            width: 100%;
        }

        .form-success{
            margin-top: 10%;
            padding: 3em 2em;
            font-size: 16px;
        }
    }

    @media (max-width: 600px) {
        .contact-page__title{
            font-size: 24px;
        }

        .contact-page__primary{
            font-size: 2.6em;
        }

        .contact-page__secondary{
            font-size: 1.2em;
            letter-spacing: 0px;
        }

        .contact-page__content{
            max-width: 350px;
        }

        .if-statement{
            font-size: 12px;
        }

        .contact-topLeft{
            height: 15px;
        }

        .contact-middleRight{
            top: -35px;
            height: 30px;
        }

        .form-success{
            margin-top: 20%;
            padding: 3em 2em;
            font-size: 12px;
        }
    }

    @media (max-width: 475px) {
        .contact-page__title{
            font-size: 20px;
        }

        .contact-page__primary{
            font-size: 2em;
            letter-spacing: 0px;
        }

        .contact-page__secondary{
            font-size: 14px;
        }

        .contact-page__content{
            max-width: 275px;
        }

        .name, .email, .message{
            width: 90%;
            margin: 0 auto;
        }

        .if-statement{
            font-size: 10px;
        }

        .contact-topLeft{
            height: 10px;
            top: -15px;
        }

        .contact-topRight{
            height: 25px;
        }

        .contact-bottomLeft{
            height: 15px;
            bottom: -25px;
        }

        .contact-bottomRight{
            height: 40px;
            bottom: -50px;
        }
    }
</style>

{% schema %}
    {
        "name": "Contact",
        "settings": [
            {
                "type": "checkbox",
                "id": "include_email",
                "label": "Include Email Information",
                "default": true
            },
            {
                "type": "text",
                "id": "include_emailLeft",
                "label": "If Statement: Email Infomration",
                "default": "If you want mail: "
            },
            {
                "type": "text",
                "id": "include_emailRight",
                "label": "Email Information",
                "default": "sales@soapstand.com"
            },
            {
                "type": "checkbox",
                "id": "include_phone",
                "label": "Include Phone Information",
                "default": true
            },
            {
                "type": "text",
                "id": "include_phoneLeft",
                "label": "If Statement: Phone Infomration",
                "default": "If you wannna hear us out: "
            },
            {
                "type": "text",
                "id": "include_phoneRight",
                "label": "Phone Information",
                "default": "(604) 672 5522"
            },
            {
                "type": "checkbox",
                "id": "include_instagram",
                "label": "Include Instagram Information",
                "default": true
            },
            {
                "type": "text",
                "id": "include_instagramLeft",
                "label": "If Statement: Instagram Infomration",
                "default": "If you're on instagram: "
            },
            {
                "type": "text",
                "id": "include_instagramRight",
                "label": "Instagram Information",
                "default": "@soapstandco"
            },
            {
                "type": "checkbox",
                "id": "include_address",
                "label": "Include Address Information",
                "default": true
            },
            {
                "type": "text",
                "id": "include_addressLeft",
                "label": "If Statement: Address Infomration",
                "default": "If you want to meet us irl: "
            },
            {
                "type": "text",
                "id": "include_addressRight",
                "label": "Address Information",
                "default": "come say hi at 312 Main St"
            }
        ]
    }
{% endschema %}
