<section class="hero--home">
    <header class="header">
        <div class="container row">
            <div class="nav-toggle" aria-label="open navigation">
                <span class="hamburger"></span>
            </div>
            <a class="logo" href="#">
                {{ 'Logo-09.svg' | asset_url | img_tag: 'Logo', 'logo__image' }}            
            </a>
            <nav class="nav">
                <ul class="nav__list">
                    {% for link in linklists.menu.links -%}
                    <li class="nav__item">{{ link.title | link_to: link.url }}
                    </li>
                    {%- endfor %}
                </ul>
            </nav>
            {% if section.settings.show_search%}
            <form action="/search" class="search__form">
                <input type="search" name="q">
                <button type="submit">Search</button>
            </form>
            {% endif %}
        </div>
    </header>
    <section class="hero--home01">
        <div class="container row hero--home01__row">
            <div class="hero--home01__text">
                <div class="hero--home01__primary--container">
                    <div class="hero--home01__primary">let's make</div>
                    <div class="hero--home01__primary">waste-free packaging</div>
                    <div class="hero--home01__primary">the <span class="hero--home01__primary--last">norm</span></div> 
                </div>
                <p class="hero--home01__secondary">Soapstand refill stations support green lifestyles by 
                    <br>making "sustainable" something that is accessible, 
                    <br>convenient and affordable
                </p>
                <div class="hero--home01__button-groups">
                    <a href="#" class="btn">join us</a>
                    <a href="#" class="btn">watch video</a>
                </div>

                <div class="heading-socials">
                    <p>Follow Us</p>
                    <ul class="heading-socials__list">
                        <li class="heading-socials__item"><i class="fa-brands fa-facebook-f"></i></li>
                        <li class="heading-socials__item"><i class="fa-brands fa-linkedin-in"></i></li>
                        <li class="heading-socials__item"><i class="fa-brands fa-instagram"></i></li>
                        <li class="heading-socials__item"><i class="fa-brands fa-youtube"></i></li>
                        <li class="heading-socials__item"><i class="fa-brands fa-twitter"></i></li>
                    </ul>
                </div>
            </div>
            <div class="hero--home01__image-container">
                {% comment %} {{ 'hero-center.png' | asset_url | img_tag: 'hero center image', 'hero__image--center' }}   {% endcomment %}
                {{ 'hero-image.svg' | asset_url | img_tag: 'hero image', 'hero--home01__image' }}        
            </div>
        </div>
        {{ 'hero-corner.svg' | asset_url | img_tag: 'hero corner image', 'hero--home01__image--corner' }}  
        {{ 'Asset2.svg' | asset_url | img_tag: 'hero corner image', 'hero--home01__image--corner' }}  
    </section>
    <section class="hero--home02" id="about">
        <div class="container row hero--home02__row">
            <div class="hero--home02__text">
                <div class="hero--home02__primary">meet Soapstand!!</div>
                <p class="hero--home02__secondary hero--home02__secondary--first bold">The new solution to sustainable living</p>
                <p class="hero--home02__secondary">Soapstand refillery stations make</p>
                <p class="hero--home02__secondary">buying soaps, <span class="bold">accessible, convenient</span> and <span class="bold">affordable</span>.</p>
            </div>
            <div class="hero--home02__image-container">
            </div>
        </div>
    </section>    

    {% comment %} <div class="hero__image-container">
        {{ 'hero-image.svg' | asset_url | img_tag: 'hero image', 'hero__image' }}                    
    </div> {% endcomment %}
</section> 

<style>
    @import url(//db.onlinewebfonts.com/c/6bfddeebdb6be7ad8b3cbf0523b89aca?family=Brevia);
    .hero--home{
        border: 1px solid black;
        width: 100%;
        position: relative;
    }

    .header{
        padding: 1.2em 0;
        text-align: center;
        width: 100%;
        top: 0;
        left: 0;
    }

    .logo__image{
        width: 100px;
    }

    .nav{
        width: 100%;
    }

    .nav-toggle {
        cursor: pointer;
        border: 0;
        width: 3em;
        height: 3em;
        padding: 0em;
        border-radius: 50%;
        background: #072A2D;
        color: white;
        transition: opacity 250ms ease;
        
        position: absolute;
        left: 0;
    }
    
    .nav-toggle:focus,
    .nav-toggle:hover {
        opacity: .75;
    }

    .hamburger {
        width: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .hamburger,
    .hamburger::before,
    .hamburger::after {
        display: block;
        margin: 0 auto;
        height: 3px;
        background: white;
    }
    
    .hamburger::before,
    .hamburger::after {
        content: '';
        width: 100%;
    }
    
    .hamburger::before {
        transform: translateY(-6px);
    }
    
    .hamburger::after {
        transform: translateY(3px);
    }

    .nav {
        visibility: hidden;
        height: 0;
        position: absolute;
    }

    .nav--visible {
        visibility: visible;
        height: auto;
        position: relative;
    } 

    .nav__list{
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .nav__item{
        margin: .75em .75em .75em 1.2em;
    }

    .nav__item a{
        text-decoration: none;
        color: #005560;
        font-weight: bold;
        font-size: 22px;
    }

    .nav__item a:hover, .nav__item:focus{
        opacity: .75;
    }

    .search__form{
        display: flex;
        align-items: center;
        margin: auto 0;
    }

    .hero--home01{
        position: relative;
    }

    .hero--home01__row{
        display:flex;
        flex-direction:column;
    }
    .hero--home01__image-container{
        width: 50%;
        margin: 0 auto;
    }
    .hero--home01__image{
        width: 100%;
        object-fit: fill;
    }

    .hero--home01__text{
        margin: 20px auto;
    }

    .hero--home01__primary{
        font-family: "Brevia", sans-serif;
        font-size: 36px;
        font-weight: 400;
        color: #94B7B8;
        line-height: 1.2;
        white-space: nowrap;
    }

    .hero--home01__primary--last{
        color: #005560;
    }

    .hero--home01__secondary{
        margin: 20px 0 0 0;
        color: #005560;
        font-size: 14px;
    }

    .hero--home01__button-groups{
        display: inline-grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2em;
        margin-top: 55px;
    }

    .btn, .btn:visited, .btn:link{
        width: auto;
        padding: 8px 25px;
        border-radius: 50px;
        text-align: center;
        text-decoration: none;
        color: #005560;
        transition: all .2s;
        font-size: 14px;

        border: 3px solid #005560;
        background-color: white;
    }

    .btn:hover{
        color: white;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        background: linear-gradient(to right, #005560 0%, #94B7B8 100%) border-box;
        border: 3px solid transparent;
    }

    .heading-socials{
        display: flex;
        margin-top: 30px;
    }

    .heading-socials p{
        align-self: center;
        font-size: 14px;
    }

    .heading-socials__list{
        list-style: none;
        display: flex;
        align-items: center;
    }

    .heading-socials__item{
        margin: .75em;
    }

    .heading-socials__item i{
        font-size: 14px;
    }

    .hero--home01__image--corner{
        position: absolute;
        right: 0%;
        bottom: 0%;
    }

    .hero--home02{
        height: 75vh;
        background-image: linear-gradient(
            to bottom, #004E59, #005560); 
    }

    .hero--home02__row{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero--home02__text{
        margin-top: 60px;
    }

    .hero--home02__primary{
        font-family: "Brevia", sans-serif;
        font-size: 36px;
        font-weight: 400;
        color: #94B7B8;
        border-top: 5px solid #94B7B8;
        border-top-width: medium;
        width: 50%;
        white-space: nowrap;
    }

    .hero--home02__secondary{
        color: #ffffff;
        margin: 0;
        word-spacing: 3px;
    }

    .hero--home02__secondary--first{
        margin: 50px 0;
    }

    .bold{
        font-weight: bold;
    }

    @media (min-width: 950px) {
        .header{
            height: 15vh;
        }

        .row {
            display: flex;
            justify-content: space-between;
        }

        .nav-toggle {
            display: none;
        }

        .nav {
            visibility: visible;
            display: flex;
            height: auto;
            align-items: center;
            justify-content: flex-end;
        }

        .nav__list{
            display: flex;
            margin: 0;
        }

        .hero--home01__row{
            display: flex;
            flex-direction:row;
            justify-content: space-between;
            height: 85vh;
        }

        .hero--home01__text{
            margin: 10% 0 0 0;
            width: 60%;
        }

        .hero--home01__image-container{
            height: 100%;
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: -5;
        }

        .hero--home01__image{
            width: 80%;
            max-width: 100%;
            min-width: 700px;
            position: absolute;
            bottom: 0;
            right: 0;
            max-height: 90%;
        }

        .hero--home01__primary{
            font-size: 54px;
        }

        .hero--home01__secondary{
            font-size: 20px;
            word-spacing: 10px;
        }

        .hero--home01__button-groups{
            margin-top: 75px;
        }

        .btn, .btn:visited, .btn:link{
            padding: 10px 25px;
            font-size: 18px;
        }

        .heading-socials{
            margin-top: 50px;
            font-size: 18px;
        }

        .heading-socials__item i{
            font-size: 18px;
        }

        .hero--home02__row{
            flex-direction: row;
        }

        .hero--home02__primary{
            font-size: 54px;
            width: 40%;
        }

        .hero--home02__secondary{
            font-size: 28px;
        }
    }

    @media (max-width: 1400px) {
        .hero--home01__image{
            min-width: 500px;
        }

        .hero--home01__image--corner{
            height: 40%;
        }
    }

    @media (max-width: 1250px) {
        .hero--home01__secondary{
            word-spacing: 5px;
        }

        .hero--home01__image{
            min-width: 400px;
        }

        .hero--home01__image--corner{
            height: 35%;
        }
    }

    @media (max-width: 1200px) {
        .hero--home01__primary{
            font-size: 45px;
        }

        .hero--home01__secondary{
            font-size: 18px;
        }
    }

    @media (max-width: 900px) {
        .nav__item{
            margin: .75em .75em .75em .75em;
        }

        .nav__item a{
            font-size: 18px;
        }

        .hero--home01__primary{
            font-size: 42px;
        }

        .hero--home01__secondary{
            font-size: 14px;
            word-spacing: 4px;
        }
    }

    @media (max-width: 650px) {
        .hero--home01__image--corner{
            height: 30%;
        }
    }

    @media (max-width: 600px) {
        .hero--home01__primary{
            font-size: 32px;
        }

        .hero--home01__image{
            min-width: 0%;
        }

        .hero--home01__image--corner{
            height: 25%;
        }
    }
</style>

{% javascript %}
    const navToggle = document.querySelector('.nav-toggle');
    const nav = document.querySelector('.nav');


    navToggle.addEventListener('click', () => {
        nav.classList.toggle('nav--visible');
    })
{% endjavascript %}

{%schema%}
{
    "name": "Home",
    "presets": [
        {
            "name": "Home"
        }
    ]
}
{%endschema%}

