<section class="hero--home">
    <section class="homepage01">
        <div class="homepage-container homepage01-container01">
            <div class="homepage-bg"></div>
            <div class="homepage-bgLayer"></div>
            <div class="homepage-titleLayer">
                <div class="homepage01-title">Soapstand makes being sustainable fast and easy</div>
            </div>
            {{ 'Homepage-logo.png' | asset_url | img_tag: 'homepage background logo', 'homepage-logo' }} 
        </div>
        <div class="homepage-container homepage01-container02">
            <div class="homepage01-subtitle">
                <div class="homepage01-subtitle01">Some reasons</div>
                <div class="homepage01-subtitle02">Why we are made for you</div>    
            </div> 
        </div>
        <div class="homepage-container homepage01-container03">
            <div class="homepage-02bg"></div>
        </div>
        <div class="homepage-container homepage01-container03slider">
            <div class="about-contact__slide">
                <div class="slide slide--1">
                  <div class="slide-content">
                    <h3 class="slide-title">The entrepeneur</h3>
                    <div class="slide-body">You want to put your next step forward into every sustainable innovation? you impact the environment positively while offering a simplified service that gives you a great income increase? this is the station for you.</div>
                  </div>
                </div>
                <div class="slide slide--2">
                  <div class="slide-content">
                    <h3 class="slide-title">The retail store owner</h3>
                    <div class="slide-body">You want to take your store to the next level and not only offer sustainability to your customers but the best most premium cleaning products at an affordable rate, having you winning more? this is the station for you. </div>
                  </div>
                </div>
                <div class="slide slide--3">
                  <div class="slide-content">
                    <h3 class="slide-title">The mobile refillery</h3>
                    <div class="slide-body">You wanna take your refillery to the next level, you wanna make it easier for customers and yourself? you have limited space and don’t know where anything else could fit? This is the station for you. </div>
                  </div>
                </div>
                <div class="slide slide--4">
                  <div class="slide-content">
                    <h3 class="slide-title">The apartment owner</h3>
                    <div class="slide-body">You wanna offer your tenants a fast, accessible and affordable way to purchase cleaning products while promoting a zero-waste lifestyle? We have just what you want, this is the station for you. </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="homepage-container homepage01-container04">
            <div class="homepage01-titleContainer04">
                <p class="homepage01-subtitle04">some reasons</p>
                <div class="homepage01-title04">why choose us</div>
            </div>
            <div class="homepage01-bodyContainer04">
                <div class="block block-01">
                    <div class="block-title block-title01">01 ─ High Quality Aware</div>
                    <div class="block-body block-body01">We use top-notch hardware to develop the most efficient stations for our customers and it shows in your results.</div>
                </div>
                <div class="block block-02">
                    <div class="block-title block-title02">02 ─ Dedicated Support</div>
                    <div class="block-body block-body02">You can rely on our 24/7 tech support and our customer portal is loaded with information and answers to all your questions.</div>
                </div>
                <div class="block block-03">
                    <div class="block-title block-title03">03 ─ Fast Plug and Play</div>
                    <div class="block-body block-body03">Our station set-up process is designed to be seamless and start dispensing almost instantly. </div>
                </div>
                <div class="block block-04">
                    <div class="block-title block-title04">04 ─ High Level Usability</div>
                    <div class="block-body block-body04">All our products have high usability, allowing users to easily operate the stations. Our system also comes with an intuitive maintenance mode.   </div>
                </div>
                <div class="block block-05">
                    <div class="block-title block-title05">05 ─ Premium Product</div>
                    <div class="block-body block-body05">We carry the most updated, high in demand cleaning products in the market. </div>
                </div>
                <div class="block block-06">
                    <div class="block-title block-title06">06 ─ Gray Label Stations</div>
                    <div class="block-body block-body06">Display your company logo with pride in a unique design on your station. </div>
                </div>
            </div>
        </div>
        <div class="homepage-container homepage01-container05">
            <div class="homepage-container05-bg">
                <div class="homepage-container05-image"></div>
                <div class="homepage-container05-bgLayer"></div>
                <div class="homepage-container05-body">
                    <div class="container05-bodyL">
                        <div class="container05-bodyL-top">Business in a box</div>
                        <div class="container05-bodyL-bottom">meet our most powerful station ever</div>
                    </div>
                    <div class="container05-bodyR">
                        <a href="pages/SS1" class="btn-readMore">Read more</a>                
                    </div>
                </div>
            </div>
        </div>
        <div class="homepage-container homepage01-container06">
            <div class="container06-imgContainer">
                <div class="container06-image"></div>
            </div>
            <div class="container06-textContainer">
                <div class="container06-title">Soapstand makes being sustainable easy, fast & effective</div>
                <div class="container06-paragraph">What is that one step you’ve been looking for when promoting a more sustainable lifestyle? That roadblock that made it hard,  yeah we took care of it for you. </div>
                <a href="/pages/locations-new" class="btn">Our stations</a>                
            </div>
        </div>
    </section>
    
    {% comment %} <section class="hero--home02 home--section">

    </section>   {% endcomment %}
    {% comment %} <section class="hero--home03 home--section">
        <div class="title__primary hero--home03__title"><span>{{ section.settings.home03_title }}</span></div>
        <div class="container row home--container hero--home03__row">
            <div class="hero--home03__container hero--home03__container01">
                <div class="hero--home03__content">
                    <div class="hero--home03__value container01__value">50%</div>
                    <div class="icon__container">
                        <div class="icon-dollar-circle">
                            <i class="fa-solid fa-dollar-sign"></i>
                        </div>
                        <div class="icon-dollar-circle">
                            <i class="fa-solid fa-dollar-sign"></i>
                        </div>
                        <div class="icon-dollar-circle">
                            <i class="fa-solid fa-dollar-sign"></i>
                        </div>
                        <div class="icon-dollar-circle">
                            <i class="fa-solid fa-dollar-sign"></i>
                        </div>
                        <div class="icon-dollar-circle">
                            <i class="fa-solid fa-dollar-sign"></i>
                        </div>
                    </div>
                    <div class="hero--home03__text container01__text">savings on purchase</div>
                </div>
            </div>
            <div class="hero--home03__container hero--home03__container02">
                {{ 'home03__container02.svg' | asset_url | img_tag: 'hero home03 container02', 'hero--home03__image-container02' }}  
                <div class="hero--home03__content">
                    <div class="hero--home03__text container02__text--primary">each purchase means</div>
                    <div class="hero--home03__text container02__text--secondary">-1 bottle in our landfill</div>
                </div>
            </div>
            <div class="hero--home03__container hero--home03__container03">
                {{ 'home03__container03.svg' | asset_url | img_tag: 'hero home03 container02', 'hero--home03__image-container03' }}  
                <div class="hero--home03__content">
                    <div class="hero--home03__value container03__value">100%</div>
                    <div class="hero--home03__text container03__text">positive<br>impact</div>
                </div>
                {% if section.settings.include_home03_button01 %}
                    <a href="{{ section.settings.home03_button01-link }}" class="btn btn__secondary">{{ section.settings.home03_button01 }}</a>
                {% endif %}
            </div>
        </div> 
    </section>{% endcomment %}
     {% comment %} <section class="hero--home03a home--section">
        <div class="container row home--container hero--home03a__row">
            <div class="hero--home03a__text-container"> 
                <span class="text-decor text-decor01"></span>    
                <span class="text-decor text-decor02"></span>
                <span class="text-decor text-decor03"></span>
                <span class="text-decor text-decor04"></span>
                <div class="hero--home03a__title">
                    <span>{{ section.settings.home03a_title }}</span>
                </div>
                <div class="hero--home03a__text">
                    <span>{{ section.settings.home03a_text }}</span>
                </div>
            </div>
            <div class="hero--home03a__partners-conatiner">
                <div class="partners partner01">
                    {{ 'partner01-GoodFilling.png' | asset_url | img_tag: 'partner 01 Good Filling', 'partners-logo partner01-GF' }}  
                </div>
                <div class="partners partner02">
                    {{ 'partner02-ChoicesMarket.png' | asset_url | img_tag: 'partner 02 Choices Market', 'partners-logo partner02-CM' }}  
                </div>
                <div class="partners partner03">
                    {{ 'partner03-Stongs.png' | asset_url | img_tag: 'partner 03 Stongs', 'partners-logo partner03-S' }}  
                </div>
                <div class="partners partner04">
                    {{ 'partner04-FamousFoods.png' | asset_url | img_tag: 'partner 04 FF', 'partners-logo partner04-FF' }}  
                </div>
                <div class="partners partner05">
                    {{ 'partner05-UBC.png' | asset_url | img_tag: 'partner 05 UBC', 'partners-logo partner05-UBC' }}  
                </div>
            </div>
        </div> 
    </section>{% endcomment %}
    {% comment %}<section class="hero--home04 home--section" id="howto">
         <div class="title__primary hero--home04__title"><span>{{ section.settings.home04_title }}</span></div>
        {{ 'home04-topCenter.svg' | asset_url | img_tag: 'hero home04 top background image', 'hero--home04__topCenter' }}  
        <div class="container row home--container hero--home04__row">
            <div class="box box-image box1-image">
                {{ 'home04-center.svg' | asset_url | img_tag: 'hero home04 top background image', 'hero--home04__center hero--home04__center01' }}  
                {{ 'home04__image01.svg' | asset_url | img_tag: 'hero home04 image01', 'hero--home04__image01' }}  
            </div>
            <div class="box box-text box2-text">
                <div class="box-text-container box2-text-container">
                    <div class="box-text-number box2-text-number">1</div>
                    <p class="box-text-text box2-text-text">{{ section.settings.refill_step01 }}</p>
                </div>
            </div>
            <div class="box box-text box3-text">
                <div class="box-text-container box3-text-container">
                    <div class="box-text-number box3-text-number">2</div>
                    <p class="box-text-text box3-text-text">{{ section.settings.refill_step02 }}</p>
                </div>
            </div>
            <div class="box box-image box4-image">
                <div class="box-image-container">
                    {{ 'home04__image02.png' | asset_url | img_tag: 'hero home04 image02', 'hero--home04__image02' }}    
                    {{ 'home04-center.svg' | asset_url | img_tag: 'hero home04 top background image', 'hero--home04__center hero--home04__center02' }}  
              
                </div>
            </div>
            <div class="box box-image box5-image">
                <div class="box-image-container">
                    {{ 'home04-center.svg' | asset_url | img_tag: 'hero home04 top background image', 'hero--home04__center hero--home04__center03' }}  
                    {{ 'home04__image03.png' | asset_url | img_tag: 'hero home04 image03', 'hero--home04__image03' }}                  
                </div>

            </div>
            <div class="box box-text box6-text">
                <div class="box-text-container box6-text-container">
                    <div class="box-text-number box6-text-number">3</div>
                    <p class="box-text-text box6-text-text">{{ section.settings.refill_step03 }}</p>
                </div>
            </div>
            <div class="box box-text box7-text">
                <div class="box-text-container box7-text-container">
                    <div class="box-text-number box7-text-number">4</div>
                    <p class="box-text-text box7-text-text">{{ section.settings.refill_step04 }}</p>
                </div>
            </div>
            <div class="box box-image box8-image">
                {{ 'home04-center.svg' | asset_url | img_tag: 'hero home04 top background image', 'hero--home04__center hero--home04__center04' }}  
                {{ 'home04__image04.png' | asset_url | img_tag: 'hero home04 image04', 'hero--home04__image04' }}                  
            </div>
        </div>
        {{ 'home04-bottomLeft.svg' | asset_url | img_tag: 'hero home04 bottom left background image', 'hero--home04__bottomLeft' }}
        {{ 'home04-bottomRight.svg' | asset_url | img_tag: 'hero home04 bottom right background image', 'hero--home04__bottomRight' }}   
    </section>{% endcomment %}
</section> 

<style>
    .hero--home{
        width: 100%;
        overflow: hidden;
    }

    .homepage-container{
        width: 100%;
        max-width: 1450px;
        min-width: 320px;
        margin: 0 auto;
        height: auto;
    }

    .homepage01-container01{
        position: relative;
        max-width: 100% !important;
        min-width: 100% !important;
        height: 100vh;
        min-height: 80rem;
        max-height: 100rem;
        margin-top: -50px;
    }

    .homepage-bg{
        background-image: url("https://cdn.shopify.com/s/files/1/0549/5580/2693/files/HomepageA.png?v=1684362150");
        {% comment %} background-image: url(assets/HomepageA.png); {% endcomment %}
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }

    .homepage-bgLayer{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.3);
    }

    .homepage-titleLayer{
        position: relative;
        margin: 0 auto;
        width: 85%;
        max-width: 1450px;
        top: 50%;
    }

    .homepage01-title{
        font-size: 5rem;
        width: 50rem;
        margin-top: 50px;
        color: var(--color-white);
        font-family: "Montserrat";
        font-weight: 700;
    }

    .homepage-logo{
        position: absolute;
        right: 5%;
        bottom: -5rem;
        height: 35rem;
        width: 35rem;
    }

    .homepage01-container02{
        padding: 10vh 2vw;
    }

    .homepage01-subtitle{
        text-align: center;
        font-family: "Montserrat";
        color: var(--color-dark-blue);
    }

    .homepage01-subtitle01, .homepage01-subtitle04{
        font-size: 2rem;
        font-weight: 400;
    }

    .homepage01-subtitle02{
        font-size: 4rem;
        width: 40rem;
        font-weight: 700;
        margin: 1.5vh auto 0 auto;
    }

    .homepage01-container03{
        position: relative;
        max-width: 100% !important;
        min-width: 100% !important;
        height: 60vh !important;
        min-height: 55rem;
    }
    .homepage-02bg{
        background-image: url("https://cdn.shopify.com/s/files/1/0549/5580/2693/files/Homepage-02.png?v=1684362249");
        {% comment %} background-image: url(assets/Homepage-02.png); {% endcomment %}
        height: 100%;
        background-size: cover;
        background-position: 75%;
    }

    .homepage01-container03slider{
        height: auto;
        position: relative;
        max-width: 100% !important;
        min-width: 100% !important;
    }

    .about-contact__slide{
        width: 100%;
        min-height: 35rem;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        -webkit-transition: all .2s;
        -o-transition: all .2s;
        transition: all .2s;
    }

    .slide{
        position: absolute;
        background: var(--color-dark-blue);
        top: 0;
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-transition: -webkit-transform 1s;
        transition: -webkit-transform 1s;
        -o-transition: transform 1s;
        transition: transform 1s;
        transition: transform 1s, -webkit-transform 1s;
    }

    .slide--2{
        background: var(--color-water);
    }

    .slide--3{
        background: var(--color-bubbles);
    }

    .slide-content{
        width: 75%;
        -webkit-transition: all .2s;
        -o-transition: all .2s;
        transition: all .2s;
    }

    .slide-title{
        font-size: 3.2rem;
        font-weight: 700;
        margin-bottom: 3vh;
        color: var(--color-white);
        text-align: center;
    }

    .slide-body{
        text-align: center;
        width: 72rem;
        margin: 0 auto;
        font-size: 1.6rem;
        line-height: 3rem;
        color: var(--color-white);
    }

    .slide--3 .slide-title{ color: var(--color-dark-blue);}
    .slide--3 .slide-body{ color: var(--color-dark-blue);}

    .homepage01-container04{
        padding: 10rem 10rem 15rem 10rem;
        position: relative;
    }

    .homepage01-titleContainer04{
        text-align: center;
        color: var(--color-dark-blue);
    }

    .homepage01-title04{
        margin-top: 1.5vh;
        font-size: 4rem;
        font-weight: 700;
    }

    .homepage01-bodyContainer04{
        display: grid;
        height: auto;
        margin: 0 auto;
        grid-template-columns: repeat(auto-fill, minmax(min(350px,100%), 1fr));
        grid-template-rows: repeat(2, 250px);
        grid-auto-flow: row;
        grid-auto-rows: 250px;
        grid-gap: 3rem;

        align-items: center;
        justify-items: center;
    }

    .block{
        width: 26rem;
        color: var(--color-dark-blue);
    }

    .block-title{
        font-size: 1.9rem;
        margin-bottom: 1.5vh;
        font-weight: 700;
    }

    .block-body{
        width: 80%;
        margin-left: auto;
        font-size: 1.4rem;
    }

    .homepage-container04-topLeft{
        width: 20rem;
        position: absolute;
        top: 0;
    }

    .homepage01-container04-decor{
        width: 25rem;
        position: absolute;
        right: 5rem;
        bottom: 0;
        display: inline-block;
    }

    .homepage-container04-bottomRight01{
        width: 100%;
    }

    .homepage-container04-bottomRight02{
        position: absolute;
        top: -5rem;
        left: 0;
        width: 6rem;
        height: 6rem;
    }

    .homepage01-container05{
        max-width: 100% !important;
        min-width: 100% !important;
        height: 60rem;
    }

    .homepage-container05-image{
        background-image: url("https://cdn.shopify.com/s/files/1/0549/5580/2693/files/Homepage-05.png?v=1684362149");
        {% comment %} background-image: url(assets/Homepage-05.png); {% endcomment %}
        height: 100%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .homepage-container05-bg{
        width: 100%;
        height: 100%;
        position: relative;
    }

    .homepage-container05-bgLayer{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--color-water);
        opacity: .35;
    }

    .homepage-container05-body{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        width: 75%;
        max-width: 1250px;
    }

    .container05-bodyL{
        width: 80%;
        display: flex;
        flex-direction: column;
        font-size: 3.2rem;
        color: var(--color-white);
        line-height: 2;
    }

    .container05-bodyL-top{
        font-weight: 700;
        border-bottom: 3px solid var(--color-white);
    }

    .container05-bodyR{
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn-readMore{
        font-family: "Montserrat";
        text-decoration: none;
        color: var(--color-white);
        font-size: 2rem;
        font-weight: 400;
        border: 2px solid var(--color-white);
        padding: 1rem 1.5rem;
        border-radius: 50px;
    }

    .homepage01-container06{
        display: flex;
        padding: 5rem 2rem 6rem 2rem;
    }

    .container06-imgContainer{
        width: 62%;
        height: 45vh;
        min-height: 55rem;
        margin-right: 5rem;
    }

    .container06-imgContainer{
        background-image: url("https://cdn.shopify.com/s/files/1/0549/5580/2693/files/Homepage-06.png?v=1684362150");
        {% comment %} background-image: url(assets/Homepage-06.png); {% endcomment %}
        background-size: cover;
        background-position: center;
    }

    .container06-textContainer{
        color: var(--color-dark-blue);
        width: 30%;
        padding: 5vh 0;
        width: 40rem;
    }

    .container06-title{
        font-size: 4rem;
        font-weight: 700;
        margin-bottom: 3vh;
    }

    .container06-paragraph{
        font-size: 2rem;
        line-height: 1.5;
        margin-bottom: 3vh;
    }

    .btn-ourStations{
        font-family: "Montserrat";
        text-decoration: none;
        color: var(--color-dark-blue);
        font-size: 1.8rem;
        font-weight: 400;
        border: 2px solid var(--color-dark-blue);
        padding: 1rem 1.5rem;
        border-radius: 50px; 
    }

/* 1200px tab-land*/
@media only screen and (max-width: 75em){
    .homepage01-title{
        font-size: 4.5rem;
        width: 45rem;
    }
    .homepage-logo{
        height: 30rem;
        width: 30rem;
    }
    .homepage-container05-image{
        background-size: cover;
        background-position: 80%;
    }
}

/* 900px tab-port*/
@media only screen and (max-width: 57em){
    .homepage01-title{
        font-size: 4rem;
        width: 45rem;
    }
    .homepage01-subtitle02{
        font-size: 4rem;
        width: 45rem;
    }
    .homepage01-title04{
        font-size: 4rem;
    }
    .homepage01-bodyContainer04{
        grid-template-columns: repeat(auto-fill, minmax(min(250px,100%), 1fr));
    }
    .container05-bodyL{
        font-size: 2.8rem;
    }
    .container06-imgContainer{
        margin-right: 2rem;
    }
}

@media only screen and (max-width: 50em){
    .slide-content{
        width: 90%;
    }
    .slide-body{
        width: 100%;
    }
    .container05-bodyL{
        font-size: 2.6rem;
    }
    .btn-readMore{
        font-size: 1.8rem;
    }
    .homepage01-container06{
        display: flex;
        flex-direction: column;
    }
    .container06-imgContainer{
        order: 2;
        width: 100%;
        height: 40vh;
        min-height: 35rem;
    }
    .container06-textContainer{
        order: 1;
        width: 80%;
        margin: 0 auto;
        padding: 0rem 0rem 4rem 0rem;
    }
    .container06-title{
        font-size: 3.5rem;
    }
}

/*700px*/ 
@media only screen and (max-width: 43.75em){
    .homepage-logo{
        height: 25rem;
        width: 25rem;
    }
    .homepage01-title04{
        margin-bottom: 2vh;
    }
    .homepage01-bodyContainer04{
        grid-template-rows: repeat(2, 150px);
        grid-auto-rows: 150px;
    }
    .homepage-container04-topLeft{
        width: 15rem;
    }
    .homepage01-container04-decor{
        width: 22rem;
    }
    .homepage-container04-bottomRight02{
        width: 5rem;
        height: 5rem;
    }
    .homepage-container05-body{
        flex-direction: column;
        align-items: center;
        width: 80%;
    }
    .container05-bodyL{
        width: 100%;
        font-size: 2.4rem;
        margin-bottom: 1vh;
    }
    .container05-bodyL-bottom{
        line-height: 1.2;
    }
    .container05-bodyR{
        width: 100%;
        margin-top: 5rem;
        justify-content: flex-start;
    }
    .btn-readMore{
        font-size: 1.6rem;
    }
}

/* 600px */
@media only screen and (max-width: 37.5em){
    .homepage01-container01{
        height: 50rem;
        min-height: 30rem;
    }
    .homepage01-title{
        font-size: 3rem;
        width: 30rem;
    }
    .homepage01-subtitle02{
        font-size: 3rem;
        width: 30rem;
    }
    .homepage-logo{
        height: 20rem;
        width: 20rem;
        bottom: -2rem;
        right: 0rem;
    }
    .slide-title{
        font-size: 2.8rem;
        margin-bottom: 2vh;
    }
    .slide-body{
        font-size: 1.4rem;
        line-height: 2rem;
    }
    .homepage01-title04{
        font-size: 3rem;
    }
    .btn-readMore{
        font-size: 1.4rem;
    }
    .container06-imgContainer{
        height: 30vh;
        min-height: 30rem;
    }
    .container06-title{
        font-size: 3rem;
    }
    .container06-paragraph{
        font-size: 1.8rem;
    }
    .btn-ourStations{
        font-size: 1.4rem;
    }
}

/* 500px */
@media only screen and (max-width: 31.25em){
    .homepage01-title{
        font-size: 2.5rem;
        width: 25rem;
    }
    .homepage01-subtitle02{
        font-size: 2.5rem;
        width: 25rem;
    }
    .homepage01-container02{
        padding: 5vh 2vw;
    }
    .about-contact__slide{
        min-height: 28rem;
    }
    .slide-title{
        font-size: 2.5rem;
    }
    .slide-body{
        font-size: 1.4rem;
    }
    .homepage01-container03{
        height: 25vh !important;
        min-height: 35rem;
    }
    .homepage01-title04{
        font-size: 2.5rem;
    }
    .homepage01-container04{
        padding: 10rem 5rem 10rem 5rem;
    }
    .homepage-container04-topLeft{
        width: 13rem;
    }
    .homepage01-container04-decor{
        width: 16rem;
    }
    .homepage-container04-bottomRight02{
        width: 4rem;
        height: 4rem;
        top: -4rem;
    }
    .homepage01-container05{
        height: 50rem;
    }
    .container06-title{
        font-size: 2.5rem;
    }
    .container06-paragraph{
        font-size: 1.4rem;
    }
}

/*400px*/
@media only screen and (max-width: 25em){
    .homepage01-subtitle01, .homepage01-subtitle04{
        font-size: 1.4rem;
    }
    .homepage01-subtitle02{
        font-size: 2rem;
        width: 20rem;
    }
    .slide-title{
        font-size: 2rem;
    }
    .slide-body{
        font-size: 1.2rem;
    }
    .homepage01-title04{
        font-size: 2rem;
    }
    .block-title{
        font-size: 1.8rem;
    }
    .container05-bodyL{
        font-size: 2rem;
    }
}

</style>

{% javascript %}
    const slider = function() {
        const slides = document.querySelectorAll('.slide');
        const slider = document.querySelector('.slider');

        let curSlide = 0;
        const maxSlide = slides.length;


        const goToSlide = function(slide){
            slides.forEach((s, i)=> (s.style.transform = `translateX(${100 * (i - slide)}%)`));
        }

        const nextSlide = function(){
            if(curSlide === maxSlide -1){
            curSlide = 0;
            }else{
            curSlide++;
            }
            goToSlide(curSlide);
        }
        const init = function(){
            goToSlide(0);
        }
        init();
        window.setInterval(nextSlide, 5000);
    }
    slider();
{% endjavascript %}

